body{
margin-left: 15px;
margin-right: 15px;
display: block;
max-width: 97%;
}
p{
    color: #8b735b;
}
h2{
    display: inline-block;
    width: 30vw;
    min-width: fit-content;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: #8b735b;
    }
