.error {
    color: red;
}

.form-group {
    display:table-row;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    display:inline-block;
    width: 30vw;
    min-width: fit-content;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: #8b735b;
}

.form-group input  {
    margin-left: 10px;
    width: 60vw;
    padding: 5px;
    color: #8b735b;
}

/* .form-group input[type="email"]  {
    margin-left: 100px;
    width: 800px;
    padding: 5px;
}
*/
.form-group input[type="nachricht"]  {
    margin-left: 10px;
    width: 60vw;
    padding: 5px;
    color: #8b735b;
}
/*        .form-group input[type="tel"]  {
    margin-left: 100px;
    width: 800px;
    padding: 5px;
} */
h1{
    color: #8b735b;
}
h2{
    display: inline-block;
    width: 30vw;
    min-width: fit-content;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: #8b735b;
    }

    body{
        
            margin-left: 15px;
            margin-right: 15px;
            display: block;
            max-width: 97%;
    }
    .button input[type="submit"] {
        width: 85px;
        background-color: #90b3be;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;    
        font-size: 16px;
        height: 30px;
    }

    .button input[type="submit"]:hover {
        background-color: #79939b;
        }