@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.hero {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    height:fit-content;
    width:100%;
    /*background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(b-v/login/banner.jpg);*/
    background-color: #f5f3ea;
    background-position: center;
    background-size: cover;
    position:relative;
}

.centered-content{
    margin-top: 20px;
}

.flex-container {
    display: flex;
    align-items: center;
    margin-left: 25%;
}

.centered-content img {
    width: 200px;
    height: auto;  
}

.centered-content h1 {
    font-size: 30px;
    margin-left: 25%;
    margin-top:20px;
}

.accountlayout {
    width: 65%;
    height: 580px;
    position: relative;
    display:flex;
    margin: 2% auto; 
    overflow: hidden;
}

.accountlayout .sidebar {
    position: absolute;
    width: 400px;
    height: fit-content;
    background: #90b3be;
    padding: 30px 0;
}

.accountlayout .sidebar h2{
    margin-top: 0;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.accountlayout .sidebar ul {
    padding: 0;
}

.accountlayout .sidebar ul li{
    text-align: left;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0,0.5);
    border-top: 1px solid rgba(225,225,225,225,0.5);
    align-self: center;
    padding-right: 10px;
    border-bottom: 1px solid whitesmoke;
}

.accountlayout .sidebar ul li a {
    padding-left: 10px;
    display: flex;
    color: white;
align-items: flex-end;
}
.accountlayout .sidebar ul li i {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 20px;
    height: 100%;
    bottom: 0;
}
.accountlayout .sidebar ul li b {
    font-style: normal;
}
.accountlayout .sidebar ul li a material-icons{
    width: 25px;
}


.accountlayout .sidebar ul li:hover {
    background: #e8e8e8;
}

.accountlayout .sidebar ul li:hover a {
    color: #8b735b;
}

.accountlayout .main_content {
    height: fit-content;
    width: 100%;
    margin-left:500px;
}

.accountlayout .main_content  .header {
    padding: 20px;
    background: #f5f3ea;
    color: 8b735b;
    border-bottom: 1px solid #90b3be;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.accountlayout .main_content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
  }
  
  .accountlayout .main_content .info div{
    margin-bottom: 20px;
  }


form {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tabelle td {
    margin-left: 100px;
}
.styled-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.styled-table td {
    padding: 15px;
    border: 1px solid #ccc;
}

.styled-table input[type="text"],
.styled-table input[type="date"],
.styled-table select,
.styled-table button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px; /* Erhöhter Abstand */
}

.styled-table button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.styled-table button:hover {
    background-color: #45a049;
}

.saveButton {
    background-color: #90b3be;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    border-radius:6px;
  }
  
  .saveButton:hover {opacity: 0.6}