@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@500&display=swap');

.video-container{
    flex:1;
    width:100%;
    position: relative;
}

.video-container video {
    width:100%;
    height:45vh;
    object-fit:cover;

}

.centered-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    color: #fff;   
}

.newsheader {
    width: 70%;
    height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;

    position: relative;
    background-color:rgba(255, 255, 255, 0.7);

}
.newsheader h1 {
    font-size: 45px;
    margin-bottom: auto;
    color: #8b735b;
}

.newsheader p {
    font-size: 18px;
    margin-bottom: 20%;
    color: #8b735b;
}

.newscontainer {
    width:100%;
}
.newscontainer .row {
    width:80%;
    margin:auto;
    font-family: 'Lato', sans-serif;


}
.newscontainer .row .newsheader {
    width:60%;
    text-align:center;
    margin:auto;
}

.newscontainer .row .newsheader h1{
    padding-top:30px;
    font-size:45px;
    color: #90b3be;
}
.newscontainer .row .newsheader p{
    margin-top:15px;
    font-size:18px;
    line-height: 1.5;
    color: #8b735b;
}

.newscontent {
    display:grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    align-items:center;
    margin:auto;
    margin-bottom: 20px;
    justify-items: center;

}

.newscontent a{
display: flex;
 width: 100%;
    height: min-content;
    align-self: center;
    flex-direction: column;
    align-items: center;
}

.newscontent .card {
    display:flex;
    text-align: center;
    width: 90%;
    height: 320px;
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    background-color: #fff;
    position:relative;
    flex-direction: column;
    align-items: center;
}

.newscontent .card .imgcont {
    width: 100%;
    height: 120px;
    transition: transform 0.3s, filter 0.3s;
    overflow: hidden;
}
.newscontent .card img {
    width: 100%;
    transition: transform 0.3s, filter 0.3s;
}

.newscontent .card .text{
    width: 250px;
    height: fit-content;
    object-fit: cover;
    overflow:hidden;
}


.newscontent .card:hover img{
    /*transform: scale(1.1);*/
    filter: brightness(70%);
}

.newscontent .card:hover{
    width:95%;
    height: 336px;
}

.newscontent .card h4{
    height: 44px;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 0;
}
.newscontent .card p{
    margin-top: 0;
    font-size: 15px;
    color: #6e6e6e;
    line-height:1.5;
    padding: 10px;
}
@media screen and (max-width: 768px){
    .newscontent{
        flex-direction:column;
    }
}

.newscontainer {
    width: 100%;
}

.newscontainer .row1 {
    width: 80%;
    margin: auto;
    font-family: 'Lato', sans-serif;
}



.newscontainer .textCard {
    width: 85%;
    height: 100%;
    position: relative;
    margin: 2% auto;
    background: rgba(251, 250, 246, 0.9);
    padding: 5px 30px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.199);
   
}

.newscontainer .textCard h1 {
    color: #8b735b;
}

.newscontainer .textCard h2 {
    font-size: 32px;
    text-align: left;
}

.newscontainer .textCard .blogimg {
    width: 50%;
    display: block;
    margin: auto;
}

.newscontainer .textCard p {
    text-align: block;
}
