@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@500&display=swap');
/* *{
    margin:0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: 'Lato', sans-serif;

} */
.video-container{
    flex:1;
    width:100%;
}

.video-container video {
    width:100%;
    height:85vh;
    object-fit:cover;
}
  
.newscontainer {
    width:100%;
}
.newscontainer .row {
    width:80%;
    margin:auto;
    font-family: 'Lato', sans-serif;


}
.newscontainer .row .newsheader {
    width:60%;
    text-align:center;
    margin:auto;
}

.newscontainer .row .newsheader h1{
    padding-top:30px;
    font-size:45px;
    color: #90b3be;
}
.newscontainer .row .newsheader p{
    margin-top:15px;
    font-size:18px;
    line-height: 1.5;
    color: #8b735b;
}

.newscontent {
    display:flex;
    justify-content: center;
    align-items:center;
    margin:auto;
}

.newscontent .card {
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    background-color: #fff;
}


.newscontent .card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s, filter 0.3s;
}

.newscontent .card:hover img{
    /*transform: scale(1.1);*/
    filter: brightness(70%);
}

.newscontent .card:hover{
    transform: scale(1.1);
    width:100%;
}

.newscontent .card h4{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
}
.newscontent .card p{
    font-size: 15px;
    color: #6e6e6e;
    line-height:1.5;
    padding: 10px;
}
@media screen and (max-width: 768px){
    .newscontent{
        flex-direction:column;
    }
}