body{
    width: 100%;
    background-color: #f5f3ea; /* Beigeton mit weniger Gelb */
    font-family: Arial, sans-serif;
}
.table-container{
    font-size: small;
    min-height: 300px;
    max-width: 100%;
    display: grid;
    grid: auto/ 30% 60%;
    gap: 10%;
    margin: 20px;
}

.table-container table{
    width: 100%;
    border-collapse: collapse;
}

