body{
    background-color: #f5f3ea; /* Beigeton mit weniger Gelb */
    font-family: Arial, sans-serif;
}
.table-container{
    min-height: 300px;
    width: 100%;
    display: grid;
    grid: auto/ 45% 45%;
    gap: 10%;
    margin-left: 20px;
}

.table-container table{
    width: 100%;
    border-collapse: collapse;
}

