@font-face {
    font-family: 'MarckScript-Regular';
    src: url('fonts/MarckScript-Regular.eot');
    src: url('fonts/MarckScript-Regular.eot?#iefix')
    format('embedded-opentype'),
        url('fonts/MarckScript-Regular.woff2') format('woff2'),
        url('fonts/MarckScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Material Icons';
    src: url('fonts/MaterialIcons-Regular.eot');
    src: url('fonts/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/MaterialIcons-Regular.woff2') format('woff2'),
        url('fonts/MaterialIcons-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("./material-icons.woff2") format("woff2"), url("./material-icons.woff") format("woff");
    }



/*Hintergrund des Headers*/
        header {
            background-color: rgba(251, 250, 246, 0.9);
            /*background-color: #dbe7ea; /* Weiche Blautöne für Header */
            padding: 15px;
            text-align: left;
            position: fixed;
            display: flex;
            justify-content: space-between;
            align-items: center;
            top: 0;
            left: 0;
            right: 0;
            z-index: 10;
            height: 75px;
        }

/* container der das logo enthält*/
        .containerlogo {
            text-align:left;
            margin: 0;
            z-index: 99;
        }


/*der Container enthält die Kategorien so wie die Suchleiste und die icons*/
        .header-text-container {
            display: flex;
            align-items: center;
            margin-right: 0px; /* Verringere den Abstand zwischen Suchleiste und Icons */
        }

/*Die Navbar enthählt die Kategorien*/
        .navbar {
            text-align: left;
            grid: 20px / 70px 70px 105px 190px;
            column-gap: 10px;
            list-style: none;
            display: grid;
        }

/*Schrift der Kategorien und der abstand dazwischen*/

        .navbar-dropdown{
            font-size: medium;
            justify-content: center;
            list-style: none;
            text-decoration: none;
            margin-right: 20px;
            color: #8b735b; /* Bräunliche Schriftfarbe für Menü */
        }


        .navbar-dropdown a {
            text-decoration: none;
            margin-right: 20px;
            color: #8b735b;
            text-shadow: inherit;
        }

        .navbar-dropdown-content {
            width: 100%;
            text-align:center;
            padding-top: 30px;
            display: none;
            background-color: rgba(251, 250, 246, 0);
            left: 0;
            position:absolute;
            min-width: 160px;
            z-index: 1;
        }
        .navbar-dropdown-content-block {
            padding-left: 40px;
            padding: 30px;
            display: grid;
            grid:auto/ 25% 25% 25% 25%;
            align-items: center;
            gap: 10px;
            height:fit-content;
            background-color: rgba(251, 250, 246, 1);
            box-shadow: 0px 30px 40px 0px rgba(0,0,0,0.5);
        }
        .navbar-dropdown-content-block b{
            height: 25px;
            text-align: left;
            color: #8b735b;
            font-weight: normal;
        }

        .navbar-dropdpwn-content a {
            position: fixed;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        .navbar-dropdown:hover{
                color: #6f5c48;
                text-shadow: #050404;
                font-weight: bold;
            }
        .navbar-dropdown:hover .navbar-dropdown-content {display: block;}
        .navbar-dropdown-content-block b:hover{
            color: #6f5c48;
            text-shadow: #050404;
            font-weight: bold;
        }


/*Schrift beim hovern*/


/*Setzt die suchleiste zusammen, mit transparentem hintergrund*/
        .search-bar {
            background-color: rgba(255, 255, 255, 0); /* Hintergrundfarbe für Suchleiste */
            display: flex;
            align-items: center;
        }

/*Eingabefeld der Suchleiste*/
        .search-bar input[type="text"] {
            width: 150px;
            background-color: #f5f3ea;
            padding: 10px;
            border: none;
            outline: none;
            border-radius: 5px;
            -webkit-text-fill-color:  #8b735b ;
        }

/*Suchbutton der Suchleiste*/
        .search-bar input[type="submit"] {
            background-color: #90b3be;
            /*background-color: #5f9de4d0; /* Sanfter Blauton für Suchknopf */
            color: #fff;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer; /* Mauszeiger ändert sich beim Überfahren */
        }

/*Suchbutton beim hovern*/
        .search-bar input[type="submit"]:hover {
        background-color: #79939b;
        /*background-color: #5f9de4; /* Ändert die Hintergrundfarbe bei Mouseover */
        }

/*enthält die icons*/
        .icons {
            display: flex;
            align-items: center;
            margin: 10px; /* Füge mehr Abstand zwischen den Icons hinzu */
        }


/*größe und farbe der icons*/
        .icons i {
            font-size: 30px;
            margin-right: 10px; /* Mehr Abstand zwischen den Icons */
            color: #8b735b; /* Bräunliche Schriftfarbe für Icons */
            cursor: pointer; /* Mauszeiger ändert sich beim Überfahren */
            text-decoration: none;
        }

/*icons beim hovern*/
        .icons i:hover{
            color: #6f5c48;
        }
        .icons a{
            font-size: 0px;
        }

        .icons-dropdown-content {
            align-items: center;
            width: 300px;
            text-align:center;
            display: none;
            background-color: rgba(250, 250, 250,0);
            left: calc(100% - 300px);
            min-width: 160px;
            z-index: 1;
            position:fixed;
            top: 70px;

        }
        .icons-dropdown-content-block h1 {
            align-self: center;
            margin: 10px;
            border-radius: 20px;
            text-align: center;
            padding: 5px;
            font-size: medium;
            background-color: #c6b39f;
            width: 250px;
            font-family: Arial, Helvetica, sans-serif;
            height: fit-content;
            color: #8b735b;
            font-weight: normal;
        }
        .icons-dropdown-content-block {
            margin-top: 30px;
            padding: 10px;
            align-items: left;
            gap: 10px;
            height: fit-content;
            background-color: rgba(251, 250, 246, 1);
            box-shadow: 0px 30px 40px 0px rgba(0,0,0,0.5);

        }
        .icons-dropdown-content-block-tabelle{
            display: grid;
            grid-template-columns:100px 200px;
            align-items: left;
            gap: 10px;
            height: fit-content;
            background-color: rgba(251, 250, 246, 1);
        }
        .icons-dropdown-content-block-tabelle b{
            font-family: Arial, Helvetica, sans-serif;
            height: 25px;
            text-align: left;
            color: #8b735b;
            font-weight: normal;
            }

        .icons-dropdown-content a {
            text-align: left;
            position: fixed;
            top: 0;
            color: black;
            padding: 12px;
            text-decoration: none;
            display: block;
        }

        .icons-dropdown-content-block .item {
            width: 100px;
            height: 120px;
            padding-bottom: 25%;
            background-color: #e8e8e8; /* Helle Hintergrundfarbe für Produkte */
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 14px;
        }
        .icons-dropdown:hover{
                color: #6f5c48;
                text-shadow: #050404;
                font-weight: bolder;
            }
        .icons-dropdown:hover .icons-dropdown-content {display: block;}
        .icons-dropdown-content-block b:hover{
            color: #6f5c48;
            text-shadow: #050404;
            font-weight: bold;
        }

/*hintergrund der Seite*/
        body {
            background-color: #f5f3ea; /* Beigeton mit weniger Gelb */
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }


        h1 {
            color: #4a4a4a; /* Dunkelgrauer Text */
            margin: 0;
            padding: 0;
        }
        h2{
            font-size:medium;
            padding-top: 10px;
        }









        .container {
            align-self: center;
            max-width:100%; /* Container auf 95% der Seitenbreite vergrößern */
            margin-top: 105px;
            padding-top: 0px;
        }

        .container h2 {
            color: #8b735b; /* Bräunliche Schriftfarbe für Überschriften im Container */
            text-align: center; /* Überschriften zentrieren */
        }

        .container h4{
            color: #050404; /* Bräunliche Schriftfarbe für Überschriften im Container */
            text-align: center; /* Überschrift zentrieren */
            vertical-align: middle;
        }

        .image-container {
            display:flex;
            flex:  1;
            position: relative;
            left: 0;
            width: 100%;
            max-height: 100vh;
            overflow: hidden;
        }

        .splitscreen {
            display:flex;
            position: relative;
            width: 100%;
            max-height: 100vh;
            overflow: hidden;
        }


        .image-container video {
            width: 100%;
            height: 85vh;
            max-height:100%;
            object-fit: cover;
        }

        /* Stil für das Overlay-Div */
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            border-width: 0;
        }
        .overlay h1{
            text-align: center;
            font-size: 900;
            color:   #8b735b; /* Bräunliche Schriftfarbe für Überschriften im Container */
            text-align: center; /* Überschrift zentrieren */
            vertical-align: middle;
        }
        .overlay .fest{
            align-content: left;
            padding-top: 60px;
            text-align: center;
            width: 100%;
            height: 100%;
            background-color: #f5f3ea89; /* Milchig weiße Farbe mit Transparenz */
            border-width: 0;
        }

        .overlay .maus{
            max-width: 50vw;
            padding-top: 60px;
            vertical-align: bottom;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /*background-color: rgba(255, 255, 255, 0.4);  Milchig weiße Farbe mit Transparenz */
            border-width: 0;
        }
        .overlay .maus h1{
            position:absolute;
            top: 55vh;
            padding-right: 10px;
            padding-left: 10px;
            text-align: right;
            font-size: 500%;
            color: #e8e8e800;
        }
        .maus:hover h1{
            font-size: 900;
            color: #ffffffb1;
        }
        .overlay .maus:hover {

            background-color: rgba(0, 0, 0, 0.7);/* rgba(255, 255, 255, 0.1);  Milchig weiße Farbe mit Transparenz */
            text-shadow: 1px 1px 2px  #0504049a;
            color: #e8e8e8ad;
            border-color: rgba(255, 255, 255, 0); /* Milchig weiße Farbe mit Transparenz */
        }

        .containerbest{
            max-width: 90%; /* Container auf 95% der Seitenbreite vergrößern */
            margin: 0 auto;
            padding: 20px;
        }
        .containerbest h3 {
            color: #4a4a4a; /* Dunkelgrauer Text */
            font-size: 28px; /* Größe der "Bestseller" Schrift erhöht */
            text-align: center; /* Überschrift zentrieren */
        }

        .containerbest .bestsellers {
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-top: 40px;
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
            grid-auto-rows: calc(20vw*4/3);
            gap: 10px;
        }

        .containerbest .bestsellers h3 {
            color: #4a4a4a; /* Dunkelgrauer Text */
            font-size: 28px; /* Größe der "Bestseller" Schrift erhöht */
            text-align: center; /* Überschrift zentrieren */
        }


        .containerbest .bestsellers .item {
            display: block;
            width: 90%;
            background-color: #e8e8e8; /* Helle Hintergrundfarbe für Produkte */
            justify-self: center;
            align-items: center;
            text-align: center;
            font-size: 14px;
        }
        .containerbest .bestsellers .item:hover{
            left: 0;
            width: 100%;
        }
        .containerbest .bestsellers .item a{
            text-decoration: none;
            color: #8b735b;
        }


        footer {
            background-color: #6f5c48; /* Hintergrundfarbe für die Fußzeile */
            padding: 10px 0;
            text-align: center;
            color: #f5f3ea; /* Textfarbe für die Fußzeile */
        }

        footer p {
            margin: 0;
        }
        .cookie-popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
            border-radius: 10px;
            width: 70%; /* Anpassen der Breite */
            max-width: 400px; /* Maximalbreite des Pop-ups */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Schatten hinzufügen */
            z-index: 9999; /* Stellen Sie sicher, dass das Pop-up auf der vordersten Ebene liegt */

        }

        .cookie-popup button {
            background-color: #f5f3ea;
            color: #333;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px; /* Abstand zum Text hinzufügen */
        }
        .cookie-popup button:hover{
            background-color: #b1ab9e;
            color: #f5f3ea;
        }

h5{
    color: #4a4a4a; /* Dunkelgrauer Text */
    margin: 0;
    padding: 0;
    font-family: MarckScript-Regular;
    font-size: 90%;
    font-weight: lighter;
}

/*Produktinformationen*/

.small-img-group{
    display:flex;
    justify-content: space-between;
  }

  .small-img-col{
    flex-basis:24%;
    cursor: pointer;
  }

  .singleproduct select{
   display: block;
   padding: 5px 10px;
  }

  .singleproduct input{
   width:50px;
   height: 40px;
   padding-left: 10px;
   font-size:16px;
   margin-right: 10px;
  }
  .singleproduct input:focus{
    outline: none; 
  }

  .buy-button{
    background:#5f9de4d0;
    opacity: 1;
    transition: 0.3s all;
  }
  .containerproduct{
    gap: 20px;
    padding:20px;
    display: grid;
    grid-template-columns: 30% 70%;
  }
  .containerproduct .abschnitt{
    display: inherit;
  }
  .containerproduct .abschnitt .bilder{
    padding-bottom: 10px
  }

