.error {
    color: red;
}

.form-group {
    display:table-row;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    display:inline-block;
    width: 30vw;
    min-width: fit-content;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.form-group input  {
    margin-left: 10px;
    width: 60vw;
    padding: 5px;
}

