        .seitewarenkorb{
            margin: 70px auto;
        }
        table{
            width: 97%;
            color: #6f5c48;    
            border-collapse: collapse;
            margin-left: 15px; 
        }
        .produktinfo{
            display: flex;
            flex-wrap: wrap;
            color: #6f5c48;
        } 
        th{
            width: 80%;
            text-align: left;
            padding: 5px;
            color: #fff;
            background: #8b735b;
            font-weight: normal;
        }
        td{
            padding: 10px 5px;
        }
        td input{
            width: 40px;
            height: 30px;
            padding: 5px;

        }
        td a{
            color: #90b3be          ;
            font-size: 12px;
        }
        td img{
            width: 80px;
            height: 80px;
            margin-right: 10px; 
        }
        .summetotal{
            color: #6f5c48;
            display: flex;
            justify-content: flex-end;
        }
        .summetotal table{
            border-top: 3px solid #90b3be   ;
            width: 100%;
            max-width: 350px;
            margin-right: 23px;
        }
        td:last-child{
            text-align: right;
        }
        th:last-child{
            text-align: right;    
        }
        .doubleunderline{
            text-decoration: underline;
            text-decoration-color: #90b3be;
            text-decoration-style: double;
            text-decoration-line: underline double;
        }   
        .kaufbottun input[type="submit"] {
            width: 85px;
            background-color: #90b3be;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;    
        }
        .kaufbottun input[type="submit"]:hover {
        background-color: #79939b;
        }